header, section, nav, article, footer, hgroup {
	display:block;
}

h1, h2, h3, h4, body, ul, pre { margin:0; padding:0 }

body {
	color:#000;
	font-family:"Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size:18px;
	line-height:18px;
	margin:0;
}

a { color:#0134c5; text-decoration:none; }
a:hover { color:#e13300; }

h1, h2, h3 {
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	font-weight:normal;
}

h1 {
	color:#e13300;
	font-size:72px;
	line-height:72px;
}

h2 {
	font-size:18px;
	line-height:24px;
}

header, article {
	margin:0 auto 18px;
	text-align:center;
	width:600px;
}

header {
	margin-top:130px;
}

nav li {
	line-height:24px;
	list-style-type:none;
}

footer {
	font-size:11px;
	line-height:36px;
	margin:18px 40px;
	text-align:center;
}

#cse { width:600px ! important; }