<nav>
	<div class="col-1">
		<section>
			<h4>Documentation</h4>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="toc.html">Table of Contents</a></li>
			</ul>
		</section>
		<section>
			<h4>Basic Info</h4>
			<ul>
				<li><a href="requirements.html">Server Requirements</a></li>
				<li><a href="installation.html">Installation Instructions</a></li>
				<li><a href="license.html">License Agreement</a></li>
				<li><a href="changelog.html">Change Log</a></li>
				<li><a href="credits.html">Credits</a></li>
			</ul>
		</section>
	</div>
	<div class="col-2">
		<section>
			<h4>Introduction</h4>
			<ul>
				<li><a href="contributing.html">Contributing</a></li>
				<li><a href="getting-started.html">Getting Started</a></li>
				<li><a href="supported-gateways.html">Supported Gateways</a></li>
			</ul>
		</section>
		<section>
			<h4>General Topics</h4>
			<ul>
				<li><a href="gateway-class.html">Payment Gateway Class</a></li>
				<li><a href="response.html">Processing Responses</a></li>
				<li><a href="exception.html">Exceptions</a></li>
				<li><a href="http.html">HTTP Class</a></li>
				<li><a href="helpers.html">Helper Functions</a></li>
			</ul>
		</section>
	</div>
	<div class="col-3">
		<section>
			<h4>Gateway Reference</h4>
			<ul>
				<li><a href="paypal-express-checkout.html">Paypal Express Checkout</a></li>
				<li><a href="paypal-ipn.html">Supporting Paypal IPN</a></li>
			</ul>
		</section>
		<section>
			<h4>Advanced Topics</h4>
			<ul>
				<li><a href="extend-gateway.html">Adding Support for Other Gateways</a></li>
				<li><a href="extend-response.html">Extending Response Class</a></li>
				<li><a href="new-exceptions.html">Adding New Exceptions</a></li>
				<li><a href="extend-http.html">Adding Support for Other HTTP Transports</a></li>
				<li><a href="unit-test.html">Writing Unit Tests</a></li>
			</ul>
		</section>
	</div>
</nav>