<!DOCTYPE HTML>
<html>
	<head>
		<title>{{page.title}} | PHP Merchant</title>
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>
		<header>
			<hgroup>
				<h1>PHP Merchant</h1>
				<h2>{{page.title}}</h2>
			</hgroup>
		</header>

		<article>
			{{content}}
		</article>

		<footer>
			<p>
				<a href="https://github.com/instinct/PHP-Merchant">PHP Merchant</a> - Copyright &copy; 2011 - <a href="http://instinct.co.nz">Instinct Entertainment</a> - <a href="http://www.opensource.org/licenses/mit-license.php">The MIT License</a>
			</p>
		</footer>
	</body>
</html>