<!DOCTYPE HTML>
<html>
	<head>
		<title>{{page.title}} | PHP Merchant</title>
		<link rel="stylesheet" href="css/main.css" />

		<!-- Google Analytics begins -->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-26106842-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		<!-- Google Analytics ends -->
	</head>
	<body>
		<header>
			<hgroup>
				<h1>PHP Merchant</h1>
				<h2>{{page.title}}</h2>
			</hgroup>
		</header>

		<article>
			{{content}}
		</article>

		<footer>
			<p>
				<a href="https://github.com/instinct/PHP-Merchant">PHP Merchant</a> - Copyright &copy; 2011 - <a href="http://instinct.co.nz">Instinct Entertainment</a> - <a href="http://www.opensource.org/licenses/mit-license.php">The MIT License</a>
			</p>
		</footer>
	</body>
</html>