<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.title }} | PHP Merchant Documentation</title>
		<link rel="stylesheet" href="css/syntax.css" />
		<link rel="stylesheet" href="css/main.css" />
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</head>
	<body>
		<header>
			{% include toc.html %}

			<hgroup>
				<h1>PHP Merchant Documentation</h1>
				<h2><a href="#toc">{{ page.title }}</a></h2>
			</hgroup>

			<a id="toc-link" href="#toc">Table of Contents &darr;</a>
		</header>

		<article>
			{{content}}
		</article>

		<footer>
			<p>
				<a href="https://github.com/instinct/PHP-Merchant">PHP Merchant</a> - Copyright &copy; 2011 - <a href="http://instinct.co.nz">Instinct Entertainment</a> - <a href="http://www.opensource.org/licenses/mit-license.php">The MIT License</a>
			</p>
		</footer>

		<div id="scroll-to-top">
			<a href="#">Top &uarr;</a>
		</div>
	</body>
</html>