<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.title }} | PHP Merchant Documentation</title>

		<!--[if lte IE 8]>
		<link rel="stylesheet" type="text/css" href="../css/ie.css" media="all" />
		<script type="text/javascript" src="../js/shiv.js"></script>
		<![endif]-->

		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="js/docs.js"></script>

		<!-- Google Analytics begins -->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-26106842-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		<!-- Google Analytics ends -->

		<!-- Google Custom Search begins -->
		<script src="//www.google.com/jsapi" type="text/javascript"></script>
		<script type="text/javascript" src="../js/google-search.js"></script>
		<link rel="stylesheet" href="//www.google.com/cse/style/look/default.css" type="text/css" />
		<link rel="stylesheet" type="text/css" href="../css/google-search.css" media="all" />
		<!-- Google Custom Search ends -->

		<link rel="stylesheet" href="css/syntax.css" />
		<link rel="stylesheet" href="css/docs.css" />
	</head>
	<body>
		<header>
			{% include toc.html %}

			<div id="cse" style="width: 100%;"></div>

			<hgroup>
				<h1>PHP Merchant Documentation</h1>
				<h2><a href="#toc">{{ page.title }}</a></h2>
			</hgroup>

			<nav id="internal">
				<ul>
					<li><a id="toc-link" href="#toc">Table of Contents &darr;</a></li>
					<li><a href="#cse" id="cse-link">Search</a></li>
				</ul>
			</nav>
		</header>

		<article>
			{{content}}
		</article>

		<footer>
			<p>
				<a href="https://github.com/instinct/PHP-Merchant">PHP Merchant</a> - Copyright &copy; 2011 - <a href="http://instinct.co.nz">Instinct Entertainment</a> - <a href="http://www.opensource.org/licenses/mit-license.php">The MIT License</a>
			</p>
		</footer>

		<div id="scroll-to-top">
			<a href="#">Top &uarr;</a>
		</div>

		<p class="ad-disclaimer">
			<a href="#">x</a>
			You're seeing ads in your search results because we're using Google Custom Search. Google inserts these ads because we're using their free service, not because we're trying to make money off of it.
		</p>
	</body>
</html>